<xvm name="{{ServiceName}}-a" enabled="${{{AppTokenName}}.local.xvm.{{ServicePackageName}}.enabled::false}">
    <env>
        <SERVICE_HOST>{{ServicePackageName}}.a.${{{AppTokenName}}.zone::rumi.local}</SERVICE_HOST>
        <SERVICE_CLUSTER_REPLICATOR_LOCALIFADDR>{{ServicePackageName}}.a.${{{AppTokenName}}.zone::rumi.local}</SERVICE_CLUSTER_REPLICATOR_LOCALIFADDR>
    </env>
</xvm>
