<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<model xmlns="http://www.neeveresearch.com/schema/x-ddl">
    <env>
        <!-- Global Rumi runtime configuration -->
        <nv>
            <stats>
                <memory>
                    <enable>true</enable>
                    <type>
                        <enable>true</enable>
                    </type>
                </memory>

                <latency>
                    <waypoint>
                        <global>
                            <enabled>true</enabled>
                        </global>
                    </waypoint>
                    <leg>
                        <global>
                            <enabled>true</enabled>
                        </global>
                        <messaging>
                            <type>
                                <enabled>true</enabled>
                            </type>
                        </messaging>
                    </leg>
                </latency>
            </stats>
        </nv>

        <!-- Global {{AppDisplayName}} runtime configuration -->
        <{{AppTokenName}}>
        </{{AppTokenName}}>
    </env>

    <buses>
        <bus name="{{BusName}}" descriptor="${SYSTEM_BUS_DESCRIPTOR}"/>
    </buses>

    <apps>
        <templates>
            <!-- service templates -->
        </templates>
    </apps>

    <xvms>
        <templates>
            <!-- container templates -->
        </templates>
    </xvms>

    <profiles>
        <profile name="cloud">
            <activation>
                <properties>
                    <rumi.agent.env>cloud</rumi.agent.env>
                </properties>
            </activation>
            <env>
                <ROOT_DIR>${{{AppTokenName}}.rootdir::/home/rumi/{{AppTokenName}}}</ROOT_DIR>
                <SYSTEM_BUS_DESCRIPTOR>{{MessagingConnectionString}}</SYSTEM_BUS_DESCRIPTOR>
                <TLOG_LOCATION>${ROOT_DIR}/tlog/${nv.ddl.targetxvm}</TLOG_LOCATION>
                <nv>
                    <!-- discovery -->
                    <discovery.descriptor>activemq://discovery.rumi.local:61616?wireFormat.maxInactivityDuration=0</discovery.descriptor>
                </nv>

                <{{AppTokenName}}>
                </{{AppTokenName}}>
            </env>

            <apps>
                <templates>
                </templates>
            </apps>

            <xvms>
                <templates>
                </templates>
            </xvms>
        </profile>
    </profiles>
</model>
