<xvm name="{{ServiceName}}-template">
    <env>
        <SERVICE_HEAP_SIZE_PARAMS>${{{AppTokenName}}.local.heap.{{ServicePackageName}}::-Xms32m -Xmx1g}</SERVICE_HEAP_SIZE_PARAMS>
    </env>
    <heartbeats enabled="${{{AppTokenName}}.local.telemetry.enable::true}" interval="${{{AppTokenName}}.local.telemetry.frequency::15}">
        <collectIndividualThreadStats>false</collectIndividualThreadStats>
        <includeMessageTypeStats>true</includeMessageTypeStats>
    </heartbeats>
    <provisioning>
        <jvm>
            <javaHome>${{{AppTokenName}}.java.home::%JAVA_HOME_11%}</javaHome>
            <jvmParams>%JAVA_11_OPTS%</jvmParams>
        </jvm>
    </provisioning>
</xvm>
