<xvm name="{{ServiceName}}-{{ServicePartition}}-{{ServiceInstance}}" displayName="{{ServiceDisplayName}} {{ServicePartition}}-{{ServiceInstance}}" template="{{ServiceName}}-template" enabled="${{{AppTokenName}}.local.xvm.{{ServicePackageName}}.enabled::true}">
    <apps>
        <app name="{{ServiceName}}-{{ServicePartition}}" autoStart="true"/>
    </apps>
</xvm>

