<xvm name="{{ServiceName}}-template">
    <env>
        <{{AppTokenName}}.{{ServicePackageName}}>
        </{{AppTokenName}}.{{ServicePackageName}}>
    </env>
    <acceptors>
        <acceptor descriptor="tcp://${HOST::0.0.0.0}:0"/>
    </acceptors>
    <provisioning>
        <host>${SERVICE_HOST::.}</host>
        <rootDirectory>${ROOT_DIR}</rootDirectory>
        <dataDirectory>store</dataDirectory>
        <jvm>
            <jvmParamSets>
                <jvmParamSet name="prefer-ipv4">
                    <jvmParams>-Djava.net.preferIPv4Stack=true</jvmParams>
                </jvmParamSet>
                <jvmParamSet name="heap-size" order="-1">
                    <jvmParams>${SERVICE_HEAP_SIZE_PARAMS}</jvmParams>
                </jvmParamSet>
                <jvmParamSet name="gc-tuning" order="0">
                    <jvmParams>-server</jvmParams>
                </jvmParamSet>
            </jvmParamSets>
        </jvm>
    </provisioning>
</xvm>
